@media (max-width: 1024px) {
    
  header {
    height: 185px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    position: relative;
  }
  .head-container {
    display: flex;
    justify-content: center;
  }
  .skylogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skylogo img {
    margin-top: 40px;
    width: 97px;
    height: 55px;
  }
  .hidden {
    display: none;
  }
  .overheader {
    position: absolute;
    top: 70%;
    left: 35%;
  }
  .overheader img {
    width: 334px;
    height: 210px;
  }
  section {
    margin-top: 15%;
  }
  .multiplebuildings {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 10px;
  }
  .buildimg {
    width: 162px;
    height: 90px;
  }
  .watermark{
    flex-direction: column-reverse;
  }
  .more{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
@media( width > 1024px){
    .more{
        display: none;
    }
}