@media (max-width: 1024px) {
    
  header {
    height: 185px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    position: relative;
  }
  .head-container {
    justify-content: center;
  }
  .skylogo img {
    margin-top: 40px;
    width: 97px;
    height: 55px;
  }
  .hidden {
    display: none;
  }
  .overheader {
    position: absolute;
    top: 70%;
    left: 35%;
  }
  .overheader img {
    width: 334px;
    height: 210px;
  }
  section {
    margin-top: 15%;
  }
  .multiplebuildings {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 10px;
  }
  .buildimg {
    width: 162px;
    height: 90px;
  }
  footer {
    padding: 0px 15px;
  }  
  .footer-container{
    flex-direction: column-reverse;
    padding-top: 30px;
  }  
  h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
  }
 .contact-forms{
    width: 100%;
 }
 iframe{
    margin-top: 40px;
    width: 100%;
 }
 .icons{
    justify-content: center;
 }
  .send{
    justify-content: center;
  }
  .watermark{
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .more{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
@media( width > 1024px){
    .more{
        display: none;
    }
    .heading{
        display: none;
    }
}