* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-color: #0020f4;
  height: 388px;
  width: 100%;
  position: relative;
}

.head-container {
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1475px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.skylogo {
  width: 115px;
  height: 65px;
}

nav,
nav ul,
li {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

nav a {
  color: #ffffff;
  font-size: 16px;
  margin: 18px;
  font-family: "HelveticaNeue";
}

nav a:hover {
  text-decoration: underline;
}

.contact {
  font-size: 18px;
  color: #171717;
  border-radius: 28px;
  background-color: #ffffff;
  padding: 18px 43px;
  font-weight: bold;
}

.overheader {
  position: absolute;
  top: 40%;
  left: 10%;
}

section {
  margin-top: 32%;
}

h1 {
  text-align: justify;
  max-width: 714px;
  margin: auto;
  font-family: "HelveticaNeue";
}

.multiplebuildings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.multiplebuildings img {
  margin: 0 25px;
  border-radius: 15px;
}

.paragraph-section {
  max-width: 951px;
  text-align: justify;
  margin: auto;
  font-size: 16px;
  line-height: 26px;
  font-family: "HelveticaNeue";
}

.first-paragraph {
  margin-bottom: 18px;
}

.last-paragraph {
  margin-top: 18px;
  margin-bottom: 58px;
}
.additional a {
  color: #ffffff;
  font-family: "HelveticaNeue";
  font-weight: bold;
}
.additional {
  width: 341px;
  height: 55px;
  margin: auto;
  border-radius: 28px;
  background-color: #0a22f4;
  padding: 18px 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #0a22f4;
  margin-top: 180px;
}

.footer-container {
  max-width: 1440px;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  padding-top: 275px;
}

.footer-contact h2 {
  color: #ffffff;
  font-size: 32px;
  font-family: "HelveticaNeue";
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-contact p {
  color: #ffffff;
  font-size: 16px;
  font-family: "HelveticaNeue";
  max-width: 463px;
  text-align: justify;
  margin-bottom: 58px;
}

iframe {
  border-radius: 15px;
}

.icons {
  display: flex;
  margin-top: 70px;
}

.icon {
  display: flex;
  align-items: center;
}

.icons img {
  border-radius: 50px;
  background-color: #ffffff;
}

.icons span {
  color: #ffffff;
  font-size: 22px;
}

.contact-forms input {
  height: 60px;
  background: transparent;
  margin-bottom: 40px;
  width: 100%;
  padding: 5px 0px;
  outline: none;
  border: none;
}

::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.contact-forms textarea {
  height: 140px;
  margin-bottom: 40px;
  background: transparent;
  border: none;
  width: 100%;
  resize: none;
  outline: none;
}

button {
  color: #171717;
  font-size: 16px;
  background-color: white;
  padding: 18px;
  border-radius: 28px;
  border: none;
  font-weight: bold;
}

.send {
  display: flex;
  justify-content: right;
}

.send button {
  padding: 18px 45px;
}

.watermark {
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watermark span {
  color: #ffffff;
  font-size: 16px;
}
